.mask {
  position: fixed;
  left: 0;
  right: 0;
  top:0;
  bottom:0;
  z-index: 999;
  max-width: 540px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;

  .mask-tap{
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    z-index: 0;
  }

}

.mask.hide{
  opacity: 1;
}

.mask.visibility{
  visibility: hidden;
}