.pager{
  display: flex;
  height: 40px;
  border-bottom: 1px solid #fff;

  .item{
     flex: 1;
     border-right: 1px solid #fff;
     text-align: center;
     line-height: 40px;
  }

  .item:last-child{
    border: none;
  }

  .item.active {
     background: #f40;
     color:#fff;
  }

}