@import "./../common/size";

.user-page{
  flex:1;
  display: flex;
  flex-direction: column;

  .content{
     flex:1;

     .cover{
        height: 160px;
        overflow: hidden;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
     }

    .avator-image-wrap{
      width: 80px;
      height: 80px;
      border-radius: 40px;
      border: 1px solid #eee;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #fff;
      text-align: center;
      font-size: 14px;
      color: #666;
    }

    .avator-image{
      width: 76px;
      height: 76px;
      border-radius: 40px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      background-color: #eee;
    }

    .user-name{
      font-size: 15px;
      font-weight: 500;
      text-align: center;
      padding: 10px 0;
      color: $themeColor;
    }

    .center-box{
      padding: 0 10px;
    }

    .user-info{
      display: flex;
      justify-content: space-between;
      margin-top: 16px;
      .text{
        color: #666;
        font-size: 13px;
      }
    }

    .replies{
      margin:  0 -10px;
    }

    .replies-type {
       display: flex;
       height: 40px;
       border: 1px solid #eee;
       margin-top: 16px;
       border-right: none;
       border-left: none;

       .type {
        flex: 1;
         text-align: center;
         line-height: 40px;
         font-size: 14px;
         color: #454545;
       }

       .type:first-child{
         border-right: 1px solid #eee;
       }
       
       .type.active{
          color: $themeColor;
       }

    }

    .line-group{
      margin-top: 20px;
    }


    .line{
      height: 48px;
      width: 100%;
      background: #fff;
      display: flex;
      border-bottom: 1px solid #eee;
      padding: 0 4px;

      .icon{
        width: 36px;
        height: 100%;
        line-height: 42px;
        text-align: center;
        font-size: 16px;
        color: $themeColor;
      }

      .line-content{
        flex:1
      }

      .line-content{
        line-height: 48px;
        padding: 0 5px;
        font-size: 14px;
        color: #888;
      }

      .arrow{
        width: 30px;
        height: 100%;
        text-align: center;
        line-height: 42px;
        font-size: 20px;
        color: #aaa;
      }

    }

    .item-list{
       padding: 0 10px;
       .list{
          display: flex;
          padding: 15px 2px;
          border-bottom: 1px solid #eee;
         .user-avator{
           width: 40px;
           height: 40px;
           border-radius: 20px;
           border: 1px solid #eee;
           background-size: cover;
           background-repeat: no-repeat;
           background-position: center center;
         }

         .content{
           flex:1;
           padding-left: 10px;
           .top {
             display: flex;
             font-size: 12px;
           }
           .user_name{
             margin-bottom: 15px;
             flex:1;
             color: #888;
           }
           
           .time{
             color: #999;
           }
           
           .con{
             font-size: 13px;
             color: #333;
             line-height: 20px;
             
           }
         }

       }
    }

    .no-list {
      text-align: center;
      padding-top: 40px;
      font-size: 12px;
      color: #666;
    }

    .un-login{
      display: block;
      width: 96%;
      height: 45px;
      background: #f40;
      color: #fff;
      font-size: 14px;
      border-radius: 4px;
      margin: 20px auto;
    }

  }






}

.user-page.bg-fff{
  background: #fff;
}